<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunghai University Computer Science Department</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    {{ if .success }}
        <div class="alert alert-success" role="alert">
            {{ .success }}
        </div>
    {{ end }}
    {{ if .error }}
        <div class="alert alert-danger" role="alert">
            {{ .error }}
        </div>
    {{ end }}

    <div style="height: 100vh; background-color: #FFFFFF;" class="d-flex">
        <div class="container d-flex align-items-center">
            <div class="row align-items-center">
                <div class="col-md-1">
                    <img src="picture/THU.png" alt="Tunghai University Logo" style="width: 150%;">
                </div>
                <div class="col-md-6">
                    <h1 class="h4">東海大學資訊工程學系</h1>
                    <h2 class="h6">TUNGHAI UNIVERSITY COMPUTER SCIENCE DEPARTMENT</h2>
                </div>
                <div class="col-md-5">
                    <form method="POST" action="/login">
                        <div class="form">
                            <div class="note">
                                <p>登入</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="使用者名稱" name="user_id" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="密碼" name="password" value=""/>
                            </div>
                            <button type="submit" class="btnSubmit">登入</button>
                        </div>
                    </form>
                    <div class="forgetpasswd">
                        <input class="prompttest" style="margin-top: 10px;" value="忘記密碼/首次登入?" readonly>
                        <p class="show"></p>

                        <script>
                            let guest = ''; // 確保 guest 是全局變數
                            let countdown;

                            document.addEventListener('DOMContentLoaded', function() {
                                var button = document.querySelector('.prompttest');
                                var resendButton = document.getElementById('resendCode');
                                var timerDisplay = document.getElementById('timer');
                                var changePasswordForm = document.getElementById('changePasswordForm');

                                function popup3(event) {
                                    event.preventDefault();
                                    guest = window.prompt('您好!請輸入您的tmail帳號', '');
                                    if (guest) {
                                        sendCode();
                                    }
                                }

                                function sendCode() {
                                    if (!guest) {
                                        alert('請輸入有效的電子郵件地址');
                                        return;
                                    }
                                    fetch('/send-code', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({ email: guest })
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.success) {
                                            alert('驗證碼已發送到您的信箱');
                                            startCooldown(); // 開始冷卻倒數
                                        } else {
                                            alert('發送失敗: ' + data.message);
                                            startCooldown();
                                        }
                                    })
                                    .catch(error => console.error('Error:', error));
                                }

                                function startCooldown() {
                                    var cooldownTime = 10; // 設定冷卻時間為 10 秒
                                    clearInterval(countdown); // 取消之前的倒數計時器
                                    resendButton.disabled = true; // 禁用重新發送按鈕

                                    countdown = setInterval(function() {
                                        if (cooldownTime <= 0) {
                                            clearInterval(countdown);
                                            resendButton.disabled = false; // 啟用重新發送按鈕
                                            timerDisplay.textContent = ''; // 清除倒數顯示
                                        } else {
                                            timerDisplay.textContent = '請稍候 ' + cooldownTime + ' 秒後再試。';
                                        }
                                        cooldownTime -= 1;
                                    }, 1000);
                                }

                                button.addEventListener('click', function(event) {
                                    popup3(event);
                                    startCooldown();
                                });

                                resendButton.addEventListener('click', function(event) {
                                    event.preventDefault();
                                    sendCode();
                                    startCooldown();
                                });
                            });

                            function submitCode(event) {
                                event.preventDefault();
                                const code = document.querySelector('input[name="code"]').value;
                                const changePasswordForm = document.getElementById('changePasswordForm');
                                if (!code) {
                                    alert('請輸入驗證碼');
                                    return;
                                }
                                fetch('/verify-code', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({ code: code, email: guest }) // 包含 email
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        alert('驗證碼正確');
                                        changePasswordForm.style.display = 'block'; // 驗證成功後顯示更改密碼表單
                                    } else {
                                        alert('驗證碼錯誤: ' + data.message);
                                    }
                                })
                                .catch(error => console.error('Error:', error));
                            }
                        </script>
                    </div>

                    <div id="timer" style="margin-top: 10px; color: rgb(26, 23, 23);"></div>
                    <button id="resendCode" class="btn btn-warning" style="margin-top: 10px; margin-bottom: 10px;">重新發送驗證碼</button>

                    <form method="POST" action="/verify-code" onsubmit="submitCode(event)">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="請輸入驗證碼" name="code" value=""/>
                        </div>
                        <button type="submit" class="btnSubmit">提交驗證碼</button>
                    </form>

                    <form id="changePasswordForm" method="POST" action="/change-password" style="display:none; margin-top: 20px;">
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="新密碼" name="new_password" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="確認新密碼" name="confirm_password" required/>
                        </div>
                        <button type="submit" class="btnSubmit">更改密碼</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
